click==8.1.7
iniconfig==2.0.0
mypy==1.11.2
mypy-extensions==1.0.0
numpy==2.1.1
opencv-python==4.10.0.84
packaging==24.1
pluggy==1.5.0
pytest==8.3.3
pytest-only==2.1.2
ruff==0.6.4
typing_extensions==4.12.2
